<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">  <!--note location of css file it by default look in public folder because we already set it in index.js file-->
    <title>Home</title>
</head>
<body>
    <h1>Home hai  vmro</h1>
    <p>hemlo <%=name %> <%=43-40 %></p>
   
    <h3>aur <%= locals.name %></h3>
    <h4>bol <%= locals.naam %></h4>

    <script src="script.js"></script>
</body>
</html>